body {
    background-color: #f5f6fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
}

.form input {
    margin-bottom: 1em;
}

input {
    padding: .7em 1em;
}

input[type="submit"] {
    background-color: lightblue;
    border: 1px solid transparent;
    border-radius: .2rem;
}

input[type="submit"]:hover {
    opacity: .9;
}

input[type="submit"]:active {
    opacity: .8;
    border: 1px solid lightskyblue;
}

.form input {
    border: 1px solid lightgray;
    border-radius: .2rem;
}

.form input:focus {
    outline: none;
}

button {
    margin-left: .5em;
    border-radius: 0.2rem;
    padding: .5em 1em;
    border: 1px solid gray;
    background-color: lightblue;
}


button:hover {
    opacity: .9;
}

button:active {
    opacity: .8;

}

.login_btn {
    width: 100%;
    border: 1px solid gray;
    margin-bottom: 1em;

}

img {
    width: 10rem;
    height: 13rem;
    opacity: .7;
}

header {
    margin: auto;
    display: block;
    position: absolute;
    top: 2rem;
    opacity: .5;
}

.login_btn {
    margin-left: 0;

}

.login {
    background-color: white;
    padding: 2rem 4rem 4rem 4rem;
    border-radius: 1rem;

}

span {
    font-size: .9rem;
}

.warning {
    display: none;

}

@media screen and (max-width: 743px) {
    .title {
        display: none;
    }

    .warning {
        display: block;
    }
}

@media screen and (max-width: 570px ){
    .warning{
        color: red;
        transition: .2s linear color;
    }
    html{
        font-size: 10px;
        transition: .3s linear all ;
    }
}

@media screen and (min-width: 1300px){
    html{
        font-size: 18px;
    }
}