<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>오늘 무엇을 읽을까? | 로그인</title>
    <link href="{{ url_for('static', filename='./css/login.css') }}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script>
        function login() {
            const nickName = $('#nickName').val();
            const password = $('#password').val();

            $.ajax({
                type: "post",
                url: "/user/login",
                data: {nickName,password},
                success: function (response) {
                    const {ok=null,err=null,msg=null,user=null}=response;
                    if(ok){
                        alert(`${user.nickName}님 방문을 환영합니다.`);
                        window.location.href="/main";
                    }else{
                        alert(msg);
                    }
                }
            })
        }


    </script>
</head>
<body>
<div class="header">
    <h1>방문을 환영합니다</h1>
</div>
<main class="login">
    <h3>로그인 하세요</h3>
<!--    <form method="POST" action="/">-->
    <div class="form">
        <input type="text" placeholder="닉네임" required id="nickName">
        <input type="password" placeholder="비밀번호" required id="password">
        <button onclick="login()" class="login_btn">로그인</button>
<!--    </form>-->
    </div>
</main>

<footer>
    계정이 없으신가?
    <button>회원가입</button>
</footer>


</body>
</html>