<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>오늘 읽을 만한 글 | MyPage</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <style>
        .wrap {
            padding-top: 40px;
        }
    </style>

    <script>
    </script>
</head>
<!--#themecast > div.theme_cont > div:nth-child(1) > div > ul > li:nth-child(1)-->
<!--#themecast > div.theme_cont > div:nth-child(1) > div > ul > li:nth-child(2)-->
<body>
<div class="wrap">
    <section class="hero is-warning">
        <div class="hero-body">
            <div class="container center">
                <h1 class="title">
                    내가 좋아요 누른 글
                </h1>
            </div>
        </div>
    </section>
    <div id="user-like">

    </div>
</div>
</body>

</html>